@using GameOfLife.Library;
@model Grid


     <!--<script type="text/javascript" src='@Url.Content("~/Scripts/GameOfLife.js")' />-->

@{
    ViewData["Title"] = "Game of life";
}

<button onclick="nextIteration()">Next iteration</button>

@for(var i = 0; i < Model.Height; i++)
{
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        @for(var j = 0; j < Model.Width; j++)
        {
            var cell = Model.GetCell(j, i);

            @if(cell.IsAlive)
            {
                <p x="@cell.X" y="@cell.Y" style="display:inline-block;">&#9632;</p>
            }
            else
            {
                <p x="@cell.X" y="@cell.Y" style="display:inline-block;">&#9633;</p>
            }
        }  
        </div> 
        <div class="col-md-4"></div>
    </div>
} 